$color-white: #faf9f9;
$color-gray: #ebe9e9;
$color-dark: #2b2b2b;
$color-primary: #6874e8;

$color-purple: #966abb;

$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$section-height: calc(100vh - 174px);
