@import 'vars';

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.LogoContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.LogoImage {
	width: 60px;
}
